/* General Website Styles */
@property --var-yellow { syntax: "<color>"; inherits: false; initial-value: #FFD700; }
@property --var-very-light-gray { syntax: "<color>"; inherits: false; initial-value: #f9f9f9; }
@property --var-light-gray { syntax: "<color>"; inherits: false; initial-value: #777; }
@property --var-medium-gray { syntax: "<color>"; inherits: false; initial-value: #555; }
@property --var-dark-gray { syntax: "<color>"; inherits: false; initial-value: #333; }

/*Older browsers*/
:root {
  --var-yellow: #FFD700;
  --var-very-light-gray: #f9f9f9;
  --var-light-gray: #777;
  --var-medium-gray: #555;
  --var-dark-gray: #333;
}

html {
  font-size: 16px;
}

/* Global Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "top-menu top-menu"
    "banner content";
  height: 100vh;
  overflow: hidden;
}

/* Top menu styling */
.top-menu {
  grid-area: top-menu;
  background-color: var(--var-yellow);
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  font-size: 1rem;
}

.top-menu a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.top-menu a.active {
  font-weight: bold;
}

/* Banner styling */
.banner {
  grid-area: banner;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  padding: 60px 20px 20px 20px;
  position: relative;
  width: 250px;
  height: 100%;
  z-index: 100;
}

.banner img {
  width: 85%;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.banner .name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
}

.banner .position {
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 20px;
  text-align: center;
}

.banner .position a {
  color: var(--var-yellow);
  text-decoration: none;
}

.banner .contact{
  font-size: 0.85rem;
  font-weight: lighter;
  margin-top: 70px;
  text-align: left;
  color: var(--var-very-light-gray);
}



/* Social icons styling */
.social-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 10px;
  border-radius: 50%;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--var-yellow);
}

/* Content styling */
.content {
  grid-area: content;
  padding: 50px;
  flex: 1;
  overflow-y: auto;
  display: none;
}

.content p { /*change about me*/
  font-size: 0.85rem;
}

.active-section {
  display: block;
}

.awards {
  background-color: var(--var-yellow);
  color: black;
  padding: 2px;
  margin-left: 2px;
  #display: flex;
  #align-items: center;
  #font-size: 16px;
}

.awards i {
  margin-right: 5px;
}

.home-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Two equal-width columns for the first row */
  grid-template-rows: auto auto; /* Two rows: one for the columns and one for the full-width row */
  grid-template-areas:
    "column1 column2"
    "bottom bottom"; /* Second row spans both columns */
  gap: 30px; /* Space between grid items */
}

.home-column-1 {
  grid-area: column1;
  text-align: justify !important;
}

.home-column-2 {
  grid-area: column2;
  padding-left: 60px;
}

.home-row-bottom {
  grid-area: bottom;
  text-align: justify !important;
}

ul li {
  font-size: 0.85rem;
  margin-bottom: 5px;
}